extends layout

block content
	h1= title
	p Welcome to fid, please choose
	p 
		a(href='/questions') Alle Antworten
	p 
		a(href='/questions/1') Antwort auf 1
	p 
		a(href='/questions/2') Antwort auf 2
	p 
		a(href='/questions/3') Antwort auf 3
